body{position: relative;}
/* 首页样式 + 全局数据加载动画样式 */
#site-homepage{position: fixed;width: 100%;height: 100%;z-index: 5;background: #eee;}
#site-homepage.site-welcome::before{content: 'Welcome!';position: absolute;top: calc(50% - 100px);left: calc(50% - 149px);font-size: 70px;color: #28a745;animation: breath 1.5s linear alternate infinite;}
#site-homepage.site-welcome::after{content: '欢迎使用豆瓣搜索';position: absolute;top: calc(90%);left: calc(50% - 82px);font-size: 20px;color: #28a745;border-bottom: 2px solid #28a745;}
#site-homepage.site-loading::before{opacity: 0;content: '';position: absolute;top: calc(50% - 25px);left: calc(50% - 25px);width:50px;height:50px;background:#28a745;border-radius:50%;animation:fadein 2s linear infinite .8s;}
#site-homepage.site-loading::after{opacity: 0;content: '';position: absolute;top: calc(50% - 25px);left: calc(50% - 25px);width:50px;height:50px;background:#28a745;border-radius:50%;animation:fadein 2s linear infinite;}
/* 若数据加载成功，则首页隐藏*/
#site-homepage.site-homepage-hide{display: none;}
/* 若数据加载失败，则显示 404 页面 */
#site-homepage.site-not-found::before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url("../img/douban_404.jpg") center center no-repeat;background-size: contain;}
/* 顶部搜索栏样式 */
.site-navbar{background: #eee;}
.site-navbar .word-douban{font-size: 25px; word-break: keep-all; color: #28a745;}
.site-navbar .site-search-button{padding-left: 20px; padding-right: 20px;}
/* 公共样式 */
.site-content{padding-top: 100px;}
.site-content .item{padding-top: 7px;padding-bottom: 7px;}
.site-content .item .row{margin: 7px;padding:9px 0;box-shadow: 0 0 20px 3px rgba(0, 0, 0, .1);border-radius: 5px;transition: all .2s linear;}
.site-content .item .row:hover{box-shadow: 0 0 20px 7px rgba(0, 0, 0, .11);}
.site-content .list-group-item{padding: 0;font-size:14px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;border: 1px solid transparent;}
.site-content .title{padding:3px 5px;border-radius:3px;font-weight: bold;font-size: 20px;color: #FFFFFF;background-color: #28a745;text-decoration: none;}
.site-content .author,.site-content .director,.site-content .singer{color: #007bff;}
.site-content .publisher,.site-content .cast{color:#e86767;}
.site-content .pubdate{color: #6638F0;}
.site-content .genre,.site-content .version{color: #F78AE0;}
.site-content .rating{color: #28a745;font-size: 14px;font-weight: bold;}
.site-content .average-rating{font-size: 16px;}
/* 图书样式 */
.site-content .price{font-weight: bold;color: #f10214;}
.site-content .price .currency-icon{font-size: 12px;color: #f10214;}
.site-content .price .price-number{font-size: 16px;font-weight: bold;color: #f10214;}
.site-content .ISBN{font-weight: bold;color:#555;}
/* 电影样式 */
.site-content .director-name{text-decoration: underline;}
/* 底部翻页按钮样式 */
.site-bottom-nav{margin: 50px 0 170px;}
.site-bottom-nav .btn-secondary{background-color: #28a745;cursor: pointer;}
/* 底部版权说明样式 */
.site-copyright{padding: 30px 0 14px;position: fixed;bottom: 0;width: 100%;z-index: 4;text-align: center;background: #eeeeee;}
.site-copyright p:first-child{font-size: 14px;color: #111111;}
.site-copyright p:first-child a{color: #28a745;text-decoration: underline;}
.site-copyright p:last-child{color: #494949;font-size: 12px;}